<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

        <div th:replace="fragments :: page-header"></div>

        <div class="container body-content">
            <h2 th:text="${title}">IndyCar Stats</h2>

            <div th:unless="${tracks} and ${tracks.size()}">
                <h4>No Results</h4>
            </div>

            <table class="table">
                <tr th:each="track : ${tracks}">
                    <td><a th:href="'/tracks/view/' + ${track.id}" th:text="${track.name}"></a></td>
                </tr>
            </table>
        </div>

        <div th:replace="fragments :: track-footer"></div>

    </body>
</html>