<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

        <div th:replace="fragments :: page-header"></div>

        <div class="container body-content">
            <h2 th:text="${title}">IndyCar Stats</h2>

            <table class="table">
                <tr>
                    <td><a th:href="'/tracks/view/' + ${track.id}" th:text="${track.name}"></a></td>
                </tr>
            </table>
            <table class="table">
                <tr th:each="race : ${track.races}">
                    <td><a th:href="'/races/view/' + ${race.id}" th:text="${race.name}"></a></td>
                    <td><a th:href="'/seasons/view/' + ${race.season.year}" th:text="${race.season.year}"></a></td>
                </tr>
            </table>
            <ul>
                <li><a th:href="'/tracks/edit/' + ${track.id}">Edit Track</a></li>
                <li><a href="/tracks/add">Add Track</a></li>
            </ul>
        </div>

        <div th:replace="fragments :: track-footer"></div>

        <form th:replace="fragments :: lform"></form>
    </body>
</html>