<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

        <div th:replace="fragments :: page-header"></div>

        <div class="container body-content">
            <h2 th:text="${title}">IndyCar Stats</h2>

            <div th:unless="${seasons} and ${seasons.size()}">
                <h4>No Results</h4>
            </div>

            <table class="table">
                <tr th:each="season : ${seasons}">
                    <td><a th:href="'/seasons/view/' + ${season.year}" th:text="${season.year}"></a></td>
                </tr>
            </table>
            <ul>
                <li><a href="/seasons/add">Add Season</a></li>
            </ul>
        </div>

        <div th:replace="fragments :: season-footer"></div>

        <form th:replace="fragments :: lform"></form>
    </body>
</html>