<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

        <div th:replace="fragments :: page-header"></div>

        <div class="container body-content">
            <h2 th:text="${title}">IndyCar Stats</h2>

            <div th:unless="${season.races} and ${season.races.size()}">
                <h4>No Races</h4>
            </div>

            <div th:unless="${season.teams} and ${season.teams.size()}">
                <h4>No Teams</h4>
            </div>

            <table class="table">
                <tr th:each="race : ${season.races}">
                    <td><a th:href="'/races/view/' + ${race.id}" th:text="${race.track.name}"></a></td>
                </tr>
            </table>
            <table class="table">
                <tr th:each="team : ${season.teams}">
                    <td><a th:href="'/teams/view/' + ${team.id}" th:text="${team.name}"></a></td>
                </tr>
            </table>
            <ul>
                <li><a href="/teams/add">Add Teams</a></li>
                <li><a href="/races/add">Add Races</a></li>
                <li><a href="/seasons/list">View Seasons</a></li>
            </ul>
        </div>

        <div th:replace="fragments :: season-footer"></div>

        <form th:replace="fragments :: lform"></form>
    </body>
</html>