<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

        <div th:replace="fragments :: page-header"></div>

        <div class="container body-content">
            <h2 th:text="${title}">IndyCar Stats</h2>

            <form method="post" class="add-form">
                <div class="form-group">
                    <input placeholder="Name" class="form-control" name="name" id="name" required="required"/>
                </div>

                <div class="form-group">
                    <input placeholder="Twitter Handle (Leave off the @)" class="form-control" name="twitterHandle" id="twitterHandle"/>
                </div>

                <input type="hidden" name="loggedin" id="loggedin" th:value="*{loggedin}" />

                <input type="submit" value="Add Driver" />
            </form>
            <ul>
                <li><a href="/teams/list">View Teams</a></li>
                <li><a href="/teams/add">Add Team</a></li>
            </ul>
        </div>

        <div th:replace="fragments :: driver-footer"></div>

    </body>
</html>