<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

        <div th:replace="fragments :: page-header"></div>

        <div class="container body-content">
            <h2 th:text="${title}">IndyCar Stats</h2>

            <article>
                <div th:unless="${drivers} and ${drivers.size()}">
                    <h4>No Results</h4>
                </div>

                <table class="table">
                    <tr th:each="driver : ${drivers}">
                        <td><a th:href="'/drivers/view/' + ${driver.id}" th:text="${driver.name}"></a></td>
                    </tr>
                </table>
                <ul>
                    <li><a href="/drivers/add">Add Driver</a></li>
                    <li><a href="/teams/view">View Teams</a></li>
                    <li><a href="/teams/add">Add Team</a></li>
                </ul>

            </article>

            <nav class="navbar-right">
                <a class="twitter-timeline" href="https://twitter.com/TwitterDev" data-tweet-limit="8">Tweets by TwitterDev</a>
                <script async="async" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </nav>
        </div>
        <div th:replace="fragments :: driver-footer"></div>

        <form th:replace="fragments :: lform"></form>
    </body>
</html>