<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

        <div th:replace="fragments :: page-header"></div>

        <div class="container body-content">
            <h2 th:text="${title}">IndyCar Stats</h2>

            <article>
                <table class="table">
                    <tr>
                        <td><a th:href="'/drivers/view/' + ${driver.id}" th:text="${driver.name}"></a></td>
                    </tr>
                </table>
                <ul>
                    <li><a th:href="'/drivers/edit/' + ${driver.id}">Edit Driver</a></li>
                    <li><a href="/drivers/add">Add Driver</a></li>
                    <li><a href="/teams/view">View Teams</a></li>
                    <li><a href="/teams/add">Add Team</a></li>
                </ul>

            </article>

            <div  th:if="${driver.twitterHandle != null}">
                <nav class="navbar-right">
                    <a class="twitter-timeline" th:href="'https://twitter.com/' + ${driver.twitterHandle}" th:text="'Tweets by ' + ${driver.name}" data-tweet-limit="8"></a>
                    <script async="async" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </nav>
            </div>

        </div>
        <div th:replace="fragments :: driver-footer"></div>

        <form th:replace="fragments :: lform"></form>
    </body>
</html>