<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

    <head th:fragment="head">

        <!-- Bootstrap stylesheets and script -->
        <meta charset="UTF-8"/>
        <title th:text="${title}">IndyCar Stats</title>

        <link th:href="@{/css/style.css}" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>

        <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a th:href="@{/}" class="navbar-brand">Home</a>
                    <a th:href="@{/drivers}" class="navbar-brand">Drivers</a>
                </div>
            </div>
        </div>

        <div th:fragment="driver-footer" class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/drivers/view}">Drivers List</a></li>
                        <li><a th:href="@{/drivers/add}">Add Driver</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </body>
</html>