<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

    <head th:fragment="head">

        <!-- Bootstrap stylesheets and script -->
        <meta charset="UTF-8"/>
        <title th:text="${title}">IndyCar Stats</title>

        <link th:href="@{/css/style.css}" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>

        <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a th:href="@{/}" class="navbar-brand">Home</a>
                    <a th:href="@{/view}" class="navbar-brand">View Data</a>
                    <a th:href="@{/add}" class="navbar-brand">Add Data</a>
                </div>
            </div>
        </div>

        <div th:fragment="driver-footer" class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/drivers/view}">Drivers List</a></li>
                        <li><a th:href="@{/drivers/add}">Add Driver</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div th:fragment="track-footer" class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/tracks/view}">Tracks List</a></li>
                        <li><a th:href="@{/tracks/add}">Add Track</a></li>
                        <li><a th:href="@{/sessions}">Sessions</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div th:fragment="session-footer" class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/sessions/add}">Add Session</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div th:fragment="team-footer" class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/sessions/add}">Add Session</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div th:fragment="race-footer" class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/sessions/add}">Add Session</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div th:fragment="season-footer" class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/seasons/list}">View Seasons</a></li>
                        <li><a th:href="@{/seasons/add}">Add Season</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div th:fragment="stat-footer" class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/sessions/add}">Add Session</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </body>
</html>