<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

    <head th:fragment="head">

        <meta charset="UTF-8"/>
        <title th:text="${title}">IndyCar Stats</title>

        <!-- Bootstrap stylesheets and script -->
        <link th:href="@{/css/style.css}" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- for Google Auth -->
        <script src="https://apis.google.com/js/platform.js" async="async" defer="defer" ></script>
        <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com"/>
        <meta name="google-signin-scope" content="profile"/>
    </head>

    <body>

        <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a th:href="@{/}" class="navbar-brand">Home</a>
                    <a th:href="@{/view}" class="navbar-brand">View Data</a>
                    <a th:href="@{/add}" class="navbar-brand">Add Data</a>
                    <a th:href="@{/login}" class="navbar-brand">Admin</a>
                </div>
            </div>
        </div>

        <div th:fragment="driver-footer" class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/drivers/view}">View Drivers</a></li>
                        <li><a th:href="@{/drivers/add}">Add Driver</a></li>
                        <li><a th:href="@{/teams/view}">View Teams</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div th:fragment="race-footer" class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/races/list}">View Races</a></li>
                        <li><a th:href="@{/races/add}">Add Races</a></li>
                        <li><a th:href="@{/seasons/list}">View Seasons</a></li>
                        <li><a th:href="@{/tracks/list}">View Tracks</a></li>
                        <li><a th:href="@{/sessions/list}">View Sessions</a></li>
                        <li><a th:href="@{/sessions/add}">Add Sessions</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div th:fragment="season-footer" class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/seasons/list}">View Seasons</a></li>
                        <li><a th:href="@{/seasons/add}">Add Season</a></li>
                        <li><a th:href="@{/races/list}">View Races</a></li>
                        <li><a th:href="@{/races/add}">Add Race</a></li>
                        <li><a th:href="@{/drivers/view}">View Drivers</a></li>
                        <li><a th:href="@{/drivers/add}">Add Driver</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div th:fragment="session-footer" class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/sessions/list}">View Sessions</a></li>
                        <li><a th:href="@{/sessions/add}">Add Session</a></li>
                        <li><a th:href="@{/races/view}">View Races</a></li>
                        <li><a th:href="@{/races/add}">Add Race</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div th:fragment="stat-footer" class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/stats/add}">Add Stats</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div th:fragment="team-footer" class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/teams/view}">View Teams</a></li>
                        <li><a th:href="@{/teams/add}">Add Team</a></li>
                        <li><a href="/drivers/add">Add Driver</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div th:fragment="track-footer" class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/tracks/view}">Tracks List</a></li>
                        <li><a th:href="@{/tracks/add}">Add Track</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <form th:fragment="lform" id="loginform" method="post">
            <input type="hidden" name="loggedin" id="loggedin" th:value="*{loggedin}" />
        </form>

    </body>
</html>