<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

        <div th:replace="fragments :: page-header"></div>

        <div class="container body-content">
            <h2 th:text="${title}">IndyCar Stats</h2>

            <form method="post" class="add-form" th:object="${form}">
                <div class="form-group">
                    <input class="form-control" th:field="*{name}" required="required"/>
                    <span th:errors="*{name}" class="error"></span>
                </div>

                <div class="form-group">
                    <label th:for="year">Seasons</label>
                    <select th:field="*{year}">
                        <option th:each="season : *{seasons}" th:selected="${season.year} == *{year}"
                                th:text="${season.year}" th:value="${season.year}" ></option>
                    </select>
                    <span th:errors="*{year}" class="error"></span>
                </div>

                <div class="form-group">
                    <label>Drivers:</label>
                    <div th:each="driver : ${driversInTeam}" class="checkbox">
                        <input type="checkbox" name="driverids" th:value="${driver.id}"
                               th:id="${driver.id}" th:checked="${driver.inTeam}"/>
                        <label th:for="*{driverids}" th:text="${driver.name}"></label>
                        <br />
                    </div>
                </div>

                <div class="form-group">
                    <input class="form-control" th:field="*{twitterHandle}" placeholder="Twitter Handle (Leave off the @)"/>
                    <span th:errors="*{twitterHandle}" class="error"></span>
                </div>

                <input type="hidden" th:field="*{loggedin}" />
                <input type="hidden" th:field="*{id}" />

                <input type="submit" value="Edit Team" />
            </form>

            <form method="post" th:action="'/teams/remove/' + ${form.id}" class="add-form">
                <input type="hidden" name="loggedin" id="loggedin" th:value="${form.loggedin}" />
                <input type="submit" value="Remove Team" />
            </form>

        </div>

        <div th:replace="fragments :: race-footer"></div>

    </body>
</html>