<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

        <div th:replace="fragments :: page-header"></div>

        <div class="container body-content">
            <h2 th:text="${title}">IndyCar Stats</h2>

            <table class="table">
                <tr>
                    <td><a th:href="'/teams/view/' + ${team.id}" th:text="${team.name}"></a></td>
                </tr>
            </table>
            <table class="table">
                <tr th:each="driver : ${team.drivers}">
                    <td><a th:href="'/drivers/view/' + ${driver.id}" th:text="${driver.name}"></a></td>
                </tr>
            </table>
            <ul>
                <li><a th:href="'/teams/edit/' + ${team.id}">Edit Team</a></li>
                <li><a href="/drivers/add">Add Driver</a></li>
                <li><a href="/seasons/add">Add Season</a></li>
                <li><a href="/teams/list">View Teams</a></li>
            </ul>
        </div>

        <div th:replace="fragments :: team-footer"></div>

        <form th:replace="fragments :: lform"></form>
    </body>
</html>