<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

        <div th:replace="fragments :: page-header"></div>

        <div class="container body-content">
            <h2 th:text="${title}">IndyCar Stats</h2>

            <form method="post" class="add-form" th:object="${form}">
                <div class="form-group">
                    <input placeholder="Name" type="text" name="name" th:value="*{name}" />
                    <span th:errors="*{name}" class="error"></span>
                </div>

                <div class="form-group">
                    <label th:for="year">Seasons</label>
                    <select name="year">
                        <option th:each="season : *{seasons}"
                                th:text="${season.year}"
                                th:value="${season.year}"></option>
                    </select>
                    <span th:errors="*{year}" class="error"></span>
                </div>

                <div class="form-group">
                    <label th:for="trackid">Tracks</label>
                    <select name="trackid">
                        <option th:each="track : *{tracks}"
                                th:text="${track.name}"
                                th:value="${track.id}"></option>
                    </select>
                    <span th:errors="*{trackid}" class="error"></span>
                </div>

                <input type="hidden" name="loggedin" id="loggedin" th:value="*{loggedin}" />

                <input type="submit" value="Add Race" />
            </form>
            <ul>
                <li><a href="/seasons/list">View Seasons</a></li>
                <li><a href="/tracks/view">View Tracks</a></li>
                <li><a href="/sessions/add">Add Session</a></li>
            </ul>
        </div>

        <div th:replace="fragments :: race-footer"></div>

    </body>
</html>