<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

        <div th:replace="fragments :: page-header"></div>

        <div class="container body-content">
            <h2 th:text="${title}">IndyCar Stats</h2>
            <ul>
                <li><a href="/races/list">View Races</a></li>
                <li><a href="/seasons/list">View Seasons</a></li>
                <li><a href="/tracks/list">View Tracks</a></li>
                <li><a href="/sessions/add">Add Session</a></li>
            </ul>
        </div>

        <div th:replace="fragments :: race-footer"></div>

        <form th:replace="fragments :: lform"></form>
    </body>
</html>