<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

        <div th:replace="fragments :: page-header"></div>

        <div class="container body-content">
            <h2 th:text="${title}">IndyCar Stats</h2>

            <div th:unless="${races} and ${races.size()}">
                <h4>No Results</h4>
            </div>

            <table class="table">
                <tr th:each="race : ${races}">
                    <td><a th:href="'/races/view/' + ${race.id}" th:text="${race.id}"></a></td>
                </tr>
            </table>
        </div>

        <div th:replace="fragments :: race-footer"></div>

    </body>
</html>