<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

        <div th:replace="fragments :: page-header"></div>

        <div class="container body-content">

            <form method="post" action="/stats/addSession" class="add-form" th:object="${form}" id="ajaxform">

                <div class="form-group">
                    <label th:for="sessionid">Sessions</label>
                    <select th:field="*{sessionid}">
                        <option th:each="session : *{sessions}" th:text="${session.name}" th:value="${session.id}"></option>
                    </select>
                    <span th:errors="*{sessionid}" class="error"></span>
                </div>

                <input type="hidden" th:field="*{loggedin}" />

            </form>

            <input type="submit" onclick="addSession()" value="Enter Stats"/>

        </div>

        <div th:replace="fragments :: stat-footer"></div>

    </body>
</html>