<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

        <div th:replace="fragments :: page-header"></div>

        <div class="container body-content">

            <form method="post" action="/stats/addDriver" class="add-form" th:object="${form}" id="addform">

                <div class="form-group">
                    <label th:for="driverid">Drivers</label>
                    <select th:field="*{driverid}">
                        <option th:each="driver : *{drivers}" th:text="${driver.name}" th:value="${driver.id}"></option>
                    </select>
                    <span th:errors="*{driverid}" class="error"></span>
                </div>

                <input type="hidden" th:field="*{loggedin}" />

            </form>

            <input type="submit" onclick="addDriver()" value="Continue"/>

        </div>

        <div th:replace="fragments :: stat-footer"></div>

    </body>
</html>