<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

        <div th:replace="fragments :: page-header"></div>

        <div class="container body-content">

            <form method="post" action="/stats/addRace" class="add-form" th:object="${form}" id="ajaxform">

                <div class="form-group">
                    <label th:for="raceid">Races</label>
                    <select th:field="*{raceid}">
                        <option th:each="race : *{races}" th:text="${race.name}" th:value="${race.id}"></option>
                    </select>
                    <span th:errors="*{raceid}" class="error"></span>
                </div>

                <input type="hidden" th:field="*{loggedin}" />

            </form>

            <input type="submit" onclick="addRace()" value="Continue"/>

        </div>

        <div th:replace="fragments :: stat-footer"></div>

    </body>
</html>