<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

        <div th:replace="fragments :: page-header"></div>

        <div class="container body-content">
            <h2 th:text="${title}">IndyCar Stats</h2>

            <table class="table">
                <tr>
                    <th>Driver</th>
                    <th>Car Number</th>
                    <th>Start Position</th>
                    <th>End Position</th>
                    <th>Status</th>
                    <th>Session</th>
                </tr>
                <tr th:each="stat : ${stats}">
                    <td th:text="${stat.driverName}"></td>
                    <td th:text="${stat.carNum}"></td>
                    <td th:text="${stat.startPos}"></td>
                    <td th:text="${stat.endPos}"></td>
                    <td th:text="${stat.status}"></td>
                    <td th:text="${stat.raceName}"></td>
                </tr>
            </table>

        <input type="hidden" name="loggedin" id="loggedin" th:value="*{loggedin}" />

        <input type="submit" value="Add Stat" />


        <br/><br/><br/>

        <ul>
            <li><a href="/stats/viewchart">View Chart</a></li>
        </ul>

    </div>

    <div th:replace="fragments :: stat-footer"></div>

    </body>
</html>