<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

        <div th:replace="fragments :: page-header"></div>

        <div class="container body-content">
            <h2 th:text="${title}">IndyCar Stats</h2>

            <div id="dchart_div"></div>

        </div>

        <input type="hidden" name="chartName" id="chartName" th:value="*{chartName}" />

        <div th:replace="fragments :: stat-footer"></div>

    </body>
</html>